* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#container{
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
}

#logo{
position: absolute;
}

#bgcirc{
    transform-origin: 20% 20%;
    position: relative;
    z-index: 0;
}

.cover_stroke{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:3;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-dasharray: 100;
    stroke-dashoffset: -82;
    z-index:2;
}

#covercirc{
   transform: rotate(90deg);
    transform-origin: 20% 22.25%;
    stroke-width:3;
    stroke-dasharray: 236;
    stroke-dashoffset: 237;
    z-index:1;
}

#lstroke3{
    stroke-width:2;
    stroke-dasharray: 236;
    stroke-dashoffset: 0;
    z-index:1;
}

#fillcir1 #fillcir2 #fillcir3 
#strokecir1 #strokecir2 #strokecir3 .rotatecir{
    transform: rotate(0deg);
    transform-origin: 20% 22%;
}