* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#container{
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
}

#logo{
position: absolute;
}

#bgcirc{
    transform: scale();
    transform-origin: 20% 20%;
    position: relative;
}

/*#fillcir_grp{
    fill-opacity: 0;
}*/

