* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#container{
    background-color: white;
    height: 100%;
    width: 100%;
    position: relative;
}

#logo{
position: absolute;
}

#bgcirc{
    transform: scale();
    transform-origin: 20% 20%;
    position: relative;
    z-index: 0;
}

.cover_stroke{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:3;
    stroke-linecap:round;
    stroke-miterlimit:10;
    stroke-dasharray: 100;
    stroke-dashoffset: -82;
    z-index:2;
}

#covercirc{
    stroke-width:3;
    stroke-dasharray: 236;
    stroke-dashoffset: 237;
    z-index:1;
}

#lstroke3{
    stroke-width:2;
    stroke-dasharray: 236;
    stroke-dashoffset: 0;
    z-index:1;
}
/*svg#logo g#logo_grp path#cstroke1{
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
} 

#fillcir_grp{
    fill-opacity: 0;
}*/

